<div>
    {{#each burgers}}
        {{#if this.devoured}}
        {{else}}
        {{this.burger_name}}
        <button class = "btn-sm btn-danger devour" data-id = "{{this.id}}">Devour! <i class="fas fa-utensils"></i></button>
        {{/if}} 
    {{/each}}
</div>
<div>
    <h3>Burgers Eaten</h3>
        {{#each burgers}}
            {{#if this.devoured}}
                {{this.burger_name}}
            {{/if}} 
        {{/each}}
</div>

    <div class = "col-md-2"></div>

    </div>

    <div class = "row">

        <div class = "col-md-4 mx-auto">


            <form class = "create-form"></form>

                <div class = "form-group">

                    <textarea id = "newBurger"></textarea><br>

                    <button class = "btn btn-danger" type ="submit" id ="submit">Add a burger! <i class="fas fa-plus-circle"></i></button>

                </div>

            </form>

        </div>

    </div>